@font-face {
  font-family: highway gothic condensend;
  src: url(assets/HWYGCOND.TTF);
}

.dashboard-main{
width: 100vw;
height: 100vh;
background-image: url();
}

.dashboard-navbar{
width: 100vw;
height: 200px;
}

.dashboard-graficos{
height:500px;
width: 100vw;
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
}

.grafico-geral{
width: 900px;
padding: 10px;
background-color:rgb(126, 0, 0) ;
border-radius: 3px;
border: 10px solid rgb(83, 14, 14);
text-shadow: 1px 1px 1px black;
}
.grafico-missao{
width: 410px;
padding: 10px;
background-color:rgb(126, 0, 0) ;
border-radius: 3px;
border: 10px solid rgb(83, 14, 14);
text-shadow: 1px 1px 1px black;
}

.grafico-missao select{
width: 100px;
padding: 10px;
background-color:rgb(0, 0, 0) ;
border-radius: 3px;
border: 1px solid rgb(83, 14, 14);
text-shadow: 1px 1px 1px black;
font-family: highway gothic condensend;
color: rgb(255, 0, 0);
}