* {
padding: 0;
margin: 0;
list-style: 0;
text-decoration: 0;
max-width: 100vw;
}
:root{
--red: #FF0000;
--darkred:#770000;
--black: #000000;

}

.cadastro-sobreposta{
position: absolute;
bottom: 0%;
height: 950px;
z-index: 999;
}

.cadastro-main{
  height: 100vh;
  width: 100vw;
    background-size: cover;
    background-image: url(assets/background-cadastro.jpg);
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;

}


.cadastro-line1{
  margin-top: 50px;
height: 700px;
width: 100vw;
border-style: solid;
border-left: 0px;
border-right: 0px;
border-width: 10px;
border-color: var(--darkred);
background: linear-gradient(270deg, var(--black) 45.67%,var(--darkred) 77.4%,var(--red) 96.15%);
display:flex;
align-items: center;
justify-content: space-around;
}

.cadastro-icone{
  margin-left: 600px;
  width: 300px;
  height: 400px;
  background: rgba(255, 14, 14, 0.41);
  filter: blur(0.5px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.cadastro-line1 h3{
font-size: 40px;
color: #D8D8D8;
text-align: center;
}

.cadastro-line1 input{
filter: blur(0px);
margin-bottom: 1px;
margin-top: 1px;
clip-path: polygon(15% 10%, 100% 10%, 85% 80%, 0 80%);
width: 500px;
height: 50px;
background: rgba(55, 55, 55, 0.41);

filter: blur(0.5px);
text-align: center;
}

.cadastro-line2{
  margin-top: 45px;
  margin-bottom: 10px;
height: 90px;
width: 100vw;
border: 10px;
border-left: 50px;
border-right:50px;
background: linear-gradient(270deg, rgba(139, 139, 139, 0.8) 15.87%, rgba(255, 255, 255, 0.8) 24.04%, rgba(75, 68, 68, 0.8) 96.15%);
filter: blur(0.5px);
display: flex;
justify-content: end;
align-items: center;
}


.cadastro-line2 button{
margin-right: 350px;
}